.main-bg {
  height: 300px;
  background-image: url("../img/bg-1.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

.main-row {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.main-product {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 300px;
  border: 1px solid black;
}

.main-product-img {
  width: 90%;
  height: 80%;
  margin: 0 auto;
  border: 1px solid black;
}

.main-product div {
  margin: 0 auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}
